/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

/* Encabezado */
header {
    background-color: #84250C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contenido principal */
main {
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
}

.bienvenida h2 {
    margin-top: 0;
    color: #000000;
}

/* Contenedor de secciones */
.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}

.oferta {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
}

.novedades {
    flex: 1;
    border: 1px;
    border-radius: 0%;
    padding: 20px;
}


.oferta ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Pie de página */
footer {
    background-color: #84250C;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
}
