




/*Decoracion de Fondo*/

body {
    background-image: url(../imagenes/Fondos/FondoGalaxia.jpg);
}


/*Fuentes*/

@font-face {
    font-family: StarWars;
    src: url(../Fuentes/STJEDISE.TTF);
}


/*Estilo de Letras*/

h1 {
    font-family:"StarWars";

    color: transparent;
    -webkit-text-stroke: 3px yellow;
}

h2 {
    font-family:"StarWars"; 
       
    color: transparent;
    -webkit-text-stroke: 3px yellow; 
}

h3 {
    font-family:"StarWars";  

    color: transparent;
    -webkit-text-stroke: 2px yellow;
}

h4{
    font-family:"StarWars";  

    color: transparent;
    -webkit-text-stroke: 2px yellow;
}

p {
    color: white;
}

ol,ul {
    color: white;
}

table {
    color: white;
}

/*Posicion Imagenes Pagina inicial*/

.Cazarrecompensas 
{
    
    display: flex;
    justify-content: center; /* centralos */
    align-items: flex-start;
    gap: 100px; /* separación entre ellos */
    flex-wrap: wrap; /* si la pantalla es pequeña, bajan en columna */
    margin: 40px 0;
    text-align: center;
}


