/*Fuentes*/

@font-face {
    font-family: StarWars;
    src: url(../Fuentes/STJEDISE.TTF);
}

/*Fuentes Aplicadas*/

h1 {
    font-family:"StarWars";
}

h2 {
    font-family:"StarWars";  
}

h3 {
    font-family:"StarWars";  
}

h4{
    font-family:"StarWars";  
}

/*Decoracion de Fondo*/

body {
    background-image: url(../imagenes/Fondos/FondoGalaxia.jpg);
}

/*Estilos de Letras*/

h1{
    color: transparent;
    -webkit-text-stroke: 3px yellow;
}

h2{
    color: transparent;
    -webkit-text-stroke: 3px yellow; 
}

h3{
 color: transparent;
    -webkit-text-stroke: 2px yellow;
}

h4{
    color: transparent;
    -webkit-text-stroke: 2px yellow;
}

p {
    color: white;
}

ol,ul {
    color: white;
}

table {
    color: white;
}

/*Posicion Imagenes Pagina inicial*/

.JangoFett
{
    width: 300px;
    margin-right: 100px;
    margin-left: 100px;
}