



/*Decoracion de Fondo*/

body {
    background-image: url(../imagenes/Fondos/FondoGalaxia.jpg);
}


/*Fuentes*/

@font-face {
    font-family: StarWars;
    src: url(../Fuentes/STJEDISE.TTF);
}


/*Estilo de Letras*/

h1 {
    font-family:"StarWars";

    color: transparent;
    -webkit-text-stroke: 3px yellow;
}

h2 {
    font-family:"StarWars"; 
       
    color: transparent;
    -webkit-text-stroke: 3px yellow; 
}

h3 {
    font-family:"StarWars";  

    color: transparent;
    -webkit-text-stroke: 2px yellow;
}

h4{
    font-family:"StarWars";  

    color: transparent;
    -webkit-text-stroke: 2px yellow;
}

p {
    color: white;
}

ol,ul {
    color: white;
}

table {
    color: white;
}

/*Posicion Imagenes Pagina inicial*/

.Cazarrecompensas 
{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px; 
    flex-wrap: wrap; /* si la pantalla es pequeña, bajan en columna */
    margin: 40px;
    text-align: center;

}

/*Imagenes igualadas y Bordes*/

.ImagenPortada{
    text-align: center;
}

.Cazarrecompensas img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    border: 5px double yellow;
}

/*navegador*/

.BaseDeDatosImperial{
display: grid;
grid-template-columns: 100%;
background-color: cadetblue;
box-shadow: 0 0 15px rgba(0, 255, 255, 0.829);
border: 5px solid silver;
border-radius: 30px;
padding: 20px;
margin: 20px;
width: auto;
height: auto;
font-family: "StarWars";
}

.BaseDeDatosImperial input{
    background-color: rgb(67, 112, 114);       
    border: solid rgb(67, 112, 114);
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border-radius: 6px;
    font-family: "StarWars";
    width: auto;
}

.BaseDeDatosImperial nav{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.TextoPantalla{
    text-align: center;
    color: rgb(67, 112, 114) ;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}