

/*Estructura Bloque Superior*/

.BloqueSuperior{
    display: grid;
    grid-template-columns: 300px 1000px 400px;
    grid-template-rows: 447px 771px 400px;
    gap: 90px;
    margin-bottom: 50px;
    height: 771px;
}

.Imagen{
width: 300px;
height: 447px;
}

.Historia{
text-align:justify;
border: 3px double yellow;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
height: 771px;
}

.Azañas{
border: 3px double yellow;
padding: 10px;
border-radius: 20px;
height: 300px;
}

/*Estructura Bloque Inferior*/

.BloqueInferior{
    display: grid;
    grid-template-columns: 1300px 400px;
    gap: 90px;
    margin-bottom: 50px;
}

.Arsenal{
    width: 1300px;
    border: 3px double yellow;
    border-radius: 20px;
}

.Nave{
    width: 400px;
    border: 3px double yellow;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    place-items: center;
}



/*Decoracion de Fondo*/

body {
    background-image: url(../imagenes/Fondos/FondoGalaxia.jpg);
    margin: 15px;
}


/*Fuentes*/

@font-face {
    font-family: StarWars;
    src: url(../Fuentes/STJEDISE.TTF);
}


/*Estilo de Letras*/

h1 {
    font-family:"StarWars";

    color: transparent;
    -webkit-text-stroke: 3px yellow;
    text-align: center;
}

h2 {
    font-family:"StarWars"; 
       
    color: transparent;
    -webkit-text-stroke: 3px yellow;
}

h3 {
    font-family:"StarWars";  

    color: transparent;
    -webkit-text-stroke: 2px yellow;
    text-align: center;
}

h4{
    font-family:"StarWars";  

    color: transparent;
    -webkit-text-stroke: 2px yellow;
}

p {
    color: white;
}

ol,ul {
    color: white;
}

table {
    color: rgb(240, 240, 240);
}