.caja{
    /*margenes*/
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px
    /* margen interior*/
    padding 10px;
    /*bordes coloridos*/
    border-top: 4px solid red;
    border-right: 6px solid blue;
    border-bottom: 2px solid green;
   /*Fondo*/
   background-color: yellow;
} 
    
    